<main>
    <div class="card">
        <div class="card-body">
            <h1 class="text-center text-uppercase">text-uppercase</h1>
            <h1 class="text-center text-lowercase">text-uppercase</h1>
            <h1 class="text-center text-capitalize">text-capitalize</h1>

            <h2 class="text-end">text-end</h2>
            <h2 class="text-center">text-center</h2>

            <h3 class="text-muted">text-muted</h3>
        </div>
    </div>
    <hr>

    <div class="display-1 text-muted">text-muted</div>
    <div class="display-4">Second</div>
    <div class="display-6">3 test</div>
    <hr>

    <div class="text-muted text-end">
        Ather <span class="display-6">text</span>
    </div>
    <br>

    <div class="card">
        <div class="card-body">
            <button class="btn btn-primary">btn-primary</button>
            <button class="btn btn-secondary">btn-secondary</button>
            <button class="btn btn-success">btn-success</button>
            <button class="btn btn-danger">btn-danger</button>
            <button class="btn btn-warning">btn-warning</button>
            <button class="btn btn-light">btn-light</button>
            <button class="btn btn-info">btn-info</button>
            <button class="btn btn-dark">btn-dark</button>
            <button class="btn btn-link">btn-link</button>
            <button class="btn btn-primary btn-lg">btn-lg</button>
            <button class="btn btn-primary btn-sm">btn-sm</button>
        </div>
    </div>

    <hr>

    <div class="card">
        <div class="card-body">
            content card
        </div>
    </div>





</main>